* { box-sizing: border-box; }

body {
  margin: 40px;
  background-color: #fff;
  color: #444;
  font: 2em Sansita, sans-serif;
}

.nav-bar {
color: red;
margin: 0 auto;
width: 600px;
display: block;
}

.nav-bar ul li {
  list-style-type: none;
}

.wrapper {
  display: grid;
  grid-template-columns: fit-content(40%);
}

.wrapper > * {
  border: 5px solid rgb(214,129,137);
  border-radius: 5px;
  margin: 10px;
  padding: 10px 20px;
  background-color: rgb(233,78,119);
  color: #fff;

}
